body {
  margin: 24px;
  padding: 0;
  background-color: black;
}

.App {
  text-align: center;
  color: #ffffff;
  border: 5px solid #ffffff;
  margin: 10px;
}

.bordered {
  margin: 10px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.time {
  color: #ffffff;
  text-align: end;
  justify-self: baseline;
  font-size:100px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn {
  color: #ffffff;
  background-color: #000000;
  box-shadow: none;
}

.socket {
  margin-top: 1200px;
}

.CurrentDate {
  width: 33%;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
}

/* Mirror Area */

.mirror-area {
  padding: 30%;
}

h1 {
  font-size: 4rem;
  color: #ffffff;
}

h4 {
  font-size: 1.5rem;
  color: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: baseline;
  font-size: calc(10px + 2vmin);
  color: white; 
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 애니메이션 클래스 정의 */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/* 애니메이션 적용 */
.slide-enter {
  transform: translateX(100%);
}

.slide-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.slide-exit {
  transform: translateX(0);
}

.slide-exit-active {
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}

/* 나머지 스타일 */
.animated-container {
  overflow: hidden;
}

.animated-content {
  display: flex;
}

/* Present-Card */

.present-card-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.present-card-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 500ms, opacity 500ms;
}

.present-card-exit {
  transform: translateX(0);
  opacity: 1;
}

.present-card-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 500ms, opacity 500ms;
}