.modal {
  color: #ffffff;
  position: absolute;
  top: 1000px;
  left: 420px;
  width: 800px;
  height: 500px;
  border: 5px solid #ffffff;
  transform: translate(-50%, -50%);
}

.modal h2 {
  display: inline-block;
  margin-right: auto;
}

/* 영상 송신 */
.send {
  color: #ffffff;
  position: absolute;
  top: 1000px;
  left: 420px;
  width: 800px;
  height: 500px;
  border: 5px solid red;
  transform: translate(-50%, -50%);
}

/* 영상 송신 - ready */
.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

.ready {
  display: flex;
  margin-top: -95px;
  margin-left: 393px;
}

.send-header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rec-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rec-circle {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: red;
  border-radius: 50%;
  margin-top: 3px;
}

.rec-text {
  align-items: center;
  margin-right: 10px;
}

.send-body {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.h1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}