.App {
  text-align: center;
  border: 5px solid black;
  margin: 10px;
}

.bordered {
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.CurrentDate {
  width: 33%;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
}

/* Mirror Area */

.mirror-area {
  padding: 30%;
}

/* Weather */

.weather {
  width: 33%;
  padding: 10px;
}

.weather-container {
  display: flex;
  justify-content: space-around;
}

.weather-left {
  padding: 10px;
}

.weather-right {
  padding: 10px;
}

.weather-icon {
  height: 70%;
  background-color: lightblue;
}

h1 {
  font-size: 4rem;
}

h4 {
  font-size: 1.5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
